*{
    padding: auto;
    margin: auto;
}
body{
    background-color: white;
    color: rgb(15, 15, 15);
}
.dark-mode {
    background-color: black;
    color: white;
  }

/* Header-section */
.header_section{
    display: flex;
}
.nav_link{
    display: flex;
}

/* main section */
.main{
    background-image: url(./images/IMG_574911.png);
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    background-position-x:10%;
    padding: 50px;
}
.banner_text{
    color: #3B6840;
}
.banner_btn{
    border: 2px solid blue;
}
/* marquee section */
.mark_section{
    background-color: #D6ED17FF;
}

/* intro */
.intro_section{
    padding: 20px;
}
/* cards */
.cards{
    display: flex;
    padding-top: 9px;
}
/* footer */
.footer_section{
    display: flex;
    align-items: flex-end;
    padding: 30px;
}
.footer_link{
    display: flex;
}

                                                       /* end of index page */
/* About Page */
.about_section{
    display:flex;
    margin: 0;
    padding:10%;
    background-image: url('./images/IMG_574911-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
/* chart */
.chart_art{
    display: flex;
    background-color: white;
}
                             /* end of about page */